body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

img{
  width: 165px;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 45px;
}

.main{
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 100px;
}

p{
  font-size: 25px;
}
.main-pic{
  width: 400px;
}

